header {
    background-color: $blue-color;
    color: $colorLetter;
}

.navbar-nav {
    float: right;
    color: $colorLetter;
}

.backgroundnav .navbar-brand {
    background-color: $blue-color;
    color: $colorLetter;
}

header button.navbar-toggler {
    background-color: $green-color;
    color: $colorLetter;
}
.container .navbar a {
    color: $colorLetter;
}
