header {
    background-color: $blue-color;
    color: $colorLetter;
}

.navbar-nav {
    float: right;
    color: $colorLetter;
}

.backgroundnav .navbar-brand {
    background-color: $blue-color;
    color: $colorLetter;
}

.dropdown-toggle {
    background-color: $green-color;
}