body{
    background-color: brown;
    text-align: center;
}
button{
    border: 20px solid rgb(178, 235, 88);
    margin: 30px;
    padding: 30px;
    color: rgb(34, 22, 7);
    font-size: 2 rem;
    cursor: pointer;
}
section{
    margin: 0 center;
}