.menu {
    margin: 2px auto;
    width: 960px;
    background-color: red;
    padding: 0.5px;
    overflow: auto;
    position: relative;
   
}
.main{
    width:960px;
    background-color: white;
    margin: 0 auto;
}
ul {
    color: white;
    float: right;
}

.navigation >li {
    display: inline-block;
}

.sl {
    margin-top: 8px;
    width: 960px
}

.links {
    width: 960px;
    
    display: block;
}

.lista >li {
    display: block;
    background-color: #ffcc00;
    height: 60px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    
    
}
.a {
   width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
}
.b {
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
}
.c{
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
   clear:left;
   
}
.d{
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
}
.e{
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;

}
.f{
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
}
.g{
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
}
.h{
    width:300px;
   height:400 px;
   float: left;
   margin-right: 8px;
   margin-left: 8px;
}
footer {
    display: block;
  position: fixed;
   
    bottom: 0;
    
    padding: 1rem;
    background-color: #0E2F44;
   
    color: white;
    text-align: left;
  }
 