<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./position.css">
</head>

<body>
    <div>
    <h1>Position</h1>
    <p id="neki">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, magnam doloribus. Doloremque perspiciatis rem ratione
        voluptatum, amet at. Ipsum iste ea odio optio voluptate labore harum culpa consectetur deserunt architecto.</p></div>
    <img src="http://via.placeholder.com/500x300" alt="placeholder1" class="a">
    <img src="http://via.placeholder.com/500x300" alt="placeholder2" class="b">
    <img src="http://via.placeholder.com/500x300" alt="placeholder3" class="c">


    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quas sint velit, recusandae atque at consequuntur quidem
        saepe nesciunt odit quae labore, voluptates ex nisi ratione laborum ipsa cumque est! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Placeat eligendi pariatur culpa et excepturi sapiente soluta optio quasi! Nesciunt
        perferendis mollitia ut rerum est totam. Optio eius repellat similique? Commodi.
    </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, placeat repellendus, ex mollitia id esse incidunt,
        deleniti iste nostrum saepe molestiae vero iure? Nemo hic nulla laborum ratione maiores natus. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Est nostrum voluptate perferendis non eaque similique odio laboriosam omnis
        libero impedit corrupti, molestias quo, debitis harum placeat obcaecati praesentium, fugit optio! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Neque veniam, ipsa cum animi adipisci in officia explicabo beatae! Odit atque
        dolore excepturi incidunt, optio numquam repudiandae consequuntur aspernatur ducimus? Porro. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Laborum quasi necessitatibus id unde non ex accusantium enim! Aut ullam quo, nobis
        nam possimus sit esse, enim numquam, quaerat facere reprehenderit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, placeat repellendus, ex mollitia id esse incidunt,
        deleniti iste nostrum saepe molestiae vero iure? Nemo hic nulla laborum ratione maiores natus. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Est nostrum voluptate perferendis non eaque similique odio laboriosam omnis
        libero impedit corrupti, molestias quo, debitis harum placeat obcaecati praesentium, fugit optio! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Neque veniam, ipsa cum animi adipisci in officia explicabo beatae! Odit atque
        dolore excepturi incidunt, optio numquam repudiandae consequuntur aspernatur ducimus? Porro. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Laborum quasi necessitatibus id unde non ex accusantium enim! Aut ullam quo, nobis
        nam possimus sit esse, enim numquam, quaerat facere reprehenderitLorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, placeat repellendus, ex mollitia id esse incidunt,
        deleniti iste nostrum saepe molestiae vero iure? Nemo hic nulla laborum ratione maiores natus. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Est nostrum voluptate perferendis non eaque similique odio laboriosam omnis
        libero impedit corrupti, molestias quo, debitis harum placeat obcaecati praesentium, fugit optio! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Neque veniam, ipsa cum animi adipisci in officia explicabo beatae! Odit atque
        dolore excepturi incidunt, optio numquam repudiandae consequuntur aspernatur ducimus? Porro. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Laborum quasi necessitatibus id unde non ex accusantium enim! Aut ullam quo, nobis
        nam possimus sit esse, enim numquam, quaerat facere reprehenderitLorem ipsum dolor sit amet consectetur adipisicing elit. Nam aperiam nulla, architecto ex neque saepe voluptas dicta
        in quia ipsa. Dicta pariatur provident placeat nesciunt culpa dolor error corporis nobis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, placeat repellendus, ex mollitia id esse incidunt,
        deleniti iste nostrum saepe molestiae vero iure? Nemo hic nulla laborum ratione maiores natus. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Est nostrum voluptate perferendis non eaque similique odio laboriosam omnis
        libero impedit corrupti, molestias quo, debitis harum placeat obcaecati praesentium, fugit optio! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Neque veniam, ipsa cum animi adipisci in officia explicabo beatae! Odit atque
        dolore excepturi incidunt, optio numquam repudiandae consequuntur aspernatur ducimus? Porro. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Laborum quasi necessitatibus id unde non ex accusantium enim! Aut ullam quo, nobis
        nam possimus sit esse, enim numquam, quaerat facere reprehenderitLorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, placeat repellendus, ex mollitia id esse incidunt,
        deleniti iste nostrum saepe molestiae vero iure? Nemo hic nulla laborum ratione maiores natus. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Est nostrum voluptate perferendis non eaque similique odio laboriosam omnis
        libero impedit corrupti, molestias quo, debitis harum placeat obcaecati praesentium, fugit optio! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Neque veniam, ipsa cum animi adipisci in officia explicabo beatae! Odit atque
        dolore excepturi incidunt, optio numquam repudiandae consequuntur aspernatur ducimus? Porro. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Laborum quasi necessitatibus id unde non ex accusantium enim! Aut ullam quo, nobis
        nam possimus sit esse, enim numquam, quaerat facere reprehenderitLorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam culpa porro ex eveniet fugiat, rem pariatur explicabo
        corrupti quaerat, nobis sunt hic dicta sapiente possimus quibusdam, inventore quia ratione eaque.</p>

    
        <a href="#neki" > <img src="https://cdn.dribbble.com/users/1190601/screenshots/2869194/round-cat-pet-shop-store-logo-template_1x.png" height="100px" width="100px" class="s"> vrati se na pocetak</a>
    
</body>

</html>