body {
    
    background-image: url("https://pixfeeds.com/images/13/380165/1200-507294134-black-horse.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:contain;
    
}