* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 576px) {
    position: relative;
}

header {
    margin: 0 auto;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 20px;
}

.prva {
    border: 1px solid grey;
    display: block;
    padding: 2%;
    margin-bottom: 20px;
}

ul>li {
    list-style: none;
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-bottom: none;
}

ul>li:hover {
    background: blue;
}

.third {
    border-bottom: 1px solid gray;
}

article {
    margin-bottom: 20px;
    border: 1px solid gray;
    padding: 10px;
}

article>img {
    padding-bottom: 20px;
}

@media (min-width: 576px) {
    h1 {
        float: left;
    }
    ul {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 10px;
        color: blue;
    }
    ul>li:hover {
        color: white;
    }
    ul>li {
        display: inline;
        border: none;
    }
    ul>.third {
        border: none;
    }
    .prva {
        border-radius: 7px;
        padding: 18px;
        margin-bottom: 35px;
    }
    article {
        text-align: center;
        border-radius: 7px;
        float: right;
    }
    article>img {
        float: left;
        display: block;
        padding: 1px;
        width: 50%;
        height: 200px;
    }
}

@media (min-width: 768px) {
    main {
        margin: 0 auto;
        width: 100%;
        overflow: auto;
    }
    article {
        display: inline-block;
        width: 32%;
        text-align: center;
        border: none;
        padding: 0;
    }
    article>img {
        display: block;
        width: 100%;
        height: auto;
    }
    .as{
        width: 36%;
        padding-left: 2%;
        padding-right: 2%;
    }
    
}