 .border {
     border: 1px solid;
     padding: 12px;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
 }

 .red {
     @extend .border;
     
     border-color: red;
 }

 .blue {
     @extend .border;
     border-color: blue;
 }

 .green {
     @extend .border;
     border-color: green;
 }